body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
    padding: 0;
    margin: 0;

    .header {
        padding: 20px;
        background-color: #2a607c;
        color: #ffffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        h1 {
            font-size: 48px;
            display: inline-block;

            .seo {
                color: #d9dcd6;
            }
        }

        div {
            padding-top: 15px;
            float: right;
            font-size: 20px;

            ul {
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-left: 25px;
                }
            }
        }
    }

    .benefits {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 100%;
        font-family: inherit;
        background-color: #2589bd;

        h3 {
            margin-bottom: 10px;
            text-align: center;
            color: #ffffff;
        }

        img {
            display: block;
            margin: 10px auto;
            max-width: 150px;
        }
    }

    .section {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: inherit;
        background-color: #0072bb;
        color: #ffffff;

        img {
            max-height: 200px;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 36px;
        }
    }

    .search-engine-optimization,
    .online-reputation-management,
    .social-media-marketing {
        @extend .section;
    }
}
